* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0% 10%;
}

/* food cards */
.card-wrapper {
  margin: 4rem 0rem;
}
.card-content {
  min-height: 25rem;
  border-radius: 2rem;
  overflow: hidden;
}

.card-content img {
  border-radius: 2rem;
}

.card-content p {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* search styles */

.search-form {
  margin: 0rem 20rem;
  position: relative;
}

.search-form input {
  border: none;
  background-color: blue;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  width: 100%;
}

.search-results {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}

.search-results img {
  border-radius: 2rem;
}

.search-results h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
