* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0% 15%;
  /* width: 100vw; */
  /* height: 100vh; */
}

/* food cards */
.card-wrapper {
  margin: 4rem 0rem;
}
.card-content {
  min-height: 25rem;
  border-radius: 2rem;
  overflow: hidden;
}

.card-content img {
  border-radius: 2rem;
  width: 100%;
}

.card-content p {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* search styles */

.search-form {
  margin: 0rem 30rem;
  position: relative;
}

.search-form input {
  border: none;
  background-color: blue;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  width: 100%;
}

.search-results {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}

.search-results img {
  border-radius: 2rem;
}

.search-results h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* recipe details */

.recipe-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.recipe-wrap img {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-width: 1px;
  border-color: white;
  border-radius: 15px;
}
.recipe-detail h3 {
  margin-bottom: 2rem;
}

.active {
  background-color: gray;
}

.recipe-wrap li {
  font-size: 01remrem;
  line-height: 2rem;
}
.recipe-wrap ul {
  margin-top: 2rem;
}

#details-button {
  padding: 1rem 2rem;
  background: white;
  border: 2px solid black;
  margin-right: 2rem;
  font-weight: 600;
  width: 100%;
  height: 20%;
}

.button-wrap {
  padding-left: 30px;
  display: flex;
  padding-top: 30px;
}

.summary-wrap {
  width: 50%;
  padding-top: 30px;
}

.title-image {
}

/*  nav bar */
